In [1]:
import mdtraj as mdt

In [2]:
traj = mdt.load("1sux.pdb")
traj

In [4]:
df, bonds = traj.topology.to_dataframe()
df.head(10)

   serial name element  resSeq resName  chainID segmentID
0       1    N       N       2     ALA        0
1       2   CA       C       2     ALA        0
2       3    C       C       2     ALA        0
3       4    O       O       2     ALA        0
4       5   CB       C       2     ALA        0
5       6    N       N       3     SER        0
6       7   CA       C       3     SER        0
7       8    C       C       3     SER        0
8       9    O       O       3     SER        0
9      10   CB       C       3     SER        0

In [5]:
df['resName'].unique()

array(['ALA', 'SER', 'LYS', 'PRO', 'GLN', 'ILE', 'ASN', 'TRP', 'CYS',
       'GLY', 'GLU', 'LEU', 'VAL', 'THR', 'PHE', 'ASP', 'HIS', 'MET',
       'ARG', 'TYR', 'SO4', 'BTS', 'HOH'], dtype=object)